.CartTitle{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.totalText {
  color:#c5a86d;
}

.btn__buy{
    padding: 10px 20px;
    border: 4px solid #c5a86d;
    background-color: #c5a86d;
}

.btn__buy:hover{
    padding: 10px 20px;
    border: 4px solid #c5a86d;
    background-color:  #7d673b;
    cursor: pointer;
}