.orders__pagination{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 1rem 0;
    width: 100%;
    border-bottom: var(--border);
}

.orders__title{
    text-align: center;
}

.canvas{
    margin: 2rem;
    padding: 2rem;
    width: 40vw;
    border-bottom: var(--border);
}

@media (max-width: 1360px){
    .canvas{
        padding: 0;
        padding-bottom: 1rem;
        width: 55vw;
    }
}
@media (max-width: 1024px){
    .canvas{
        width: 70vw;
    }
}