.users__filters{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
  align-content: center;
  align-items: center;
  margin-top: 1rem;
  height: 3rem;
  width: 100%;
}
