.h5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 10px;
  height: 100%;
  margin: 10px 10px;
  
}
.dat {
  height: 50px; 
  background: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;  
}

.about {
  width: 100%;
  padding: 40px 0px;
  background-color: rgba(var(--color-black-rgb),.5);
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about_display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 35px 35px;
}

.main {
  width: 100%;  
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 45px 45px;
}

.about-texth1 {
  text-align: center;
  color: var(--color--white);
  font-size: 60px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-texth5 {  
  color: var(--color--white);
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
  margin: 25px;
  letter-spacing: 2px;
}
.main__img { 
  margin: 0 45px;
  width: 350px;
  height: 350px;
  border-radius: 9999px;
  border:solid rgba(var(--color-secondary-rgb),.25);
  backdrop-filter: blur(5px);
}

.span {
  color: var(--color-warning-primary);
}

.h2 {
  width: 50px;
  height: 50px;
  align-items: center;
}

.btn_selec {
  margin-top: 15px;
}

.p {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--color-attention-secondary);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin: 45px 45px;
}

.img {
  height: 400px;
  margin: 10px;
}

@media (max-width: 630px) {
  .h5 {
    font-size: 5px;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .image {
    margin: 0 10px;
    padding: 0 10px;
  }
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-texth1 {
    font-size: 40px;
  }
  .p {
    font-size: 10;
    margin: 0 10px;
  }
}

@media (max-width: 1790px) {
  .h5 {
    font-size: 30px;
  }
}

@media (max-width: 1625px) {
  .h5 {
    font-size: 28px;
  }
}
@media (max-width: 1517px) {
  .h5 {
    font-size: 26px;
  }
}
@media (max-width: 1269px) {
  .h5 {
    font-size: 24px;
  }
}
@media (max-width: 850px) {
  .h5 {
    font-size: 23px;
  }
}
