.welcome__container {
    display: flex;
    flex-direction: column;
}

.title {
  size: 4rem;
}

.spacer {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  margin: 3rem;
  background-color: aquamarine;
}
