.cards__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-evenly;
  align-content: space-evenly;
  justify-items: center;
  align-items: center;
}

.filters__container {
  width: 100%;
}

.filters__flex {
  display: flex;
  align-items: center;
  align-content: center;
}

.filters__buttonPlace {
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  width: 5rem;
  height: max-content;
}

.filters__btn {
  position: relative;
  bottom: 3.5rem;
  padding: 0.5rem;
  margin: 2rem 0;
}

.filters__box {
  display: inline;
  position: relative;
  overflow: visible;
  height: 2.75rem;
  width: fit-content;
  bottom: 8rem;
}

.filters__box > form {
  padding: 1rem;
  width: fit-content;
}

.filter {
  display: flex;
  width: 100%;
}

.filter > select {
  background-color: rgba(var(--color-secondary-rgb), 0.25);
  backdrop-filter: blur(2px);
  color: var(--color-white);
  margin: 0.25rem;
}

.filter__option {
  background-color: var(--color-black);
  color: var(--color-primary);
}

@media (max-width: 1790px) {
  .cards__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1425px) {
  .cards__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1050px) {
  .cards__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 820px) {
  .pager__btn-md {
    display: none;
  }
}

@media (max-width: 580px) {
  .cards__grid {
    grid-template-columns: 1fr;
  }
}
