.nav__user-image {
  --box: 4rem;
  position: relative;
  bottom: 12.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  background-color: var(--color-black);
  border-radius: 9999px;
  border: 2px solid var(--color-primary);
  box-shadow: 0px 0px 59px 10px rgba(var(--color-black-rgb), 0.75);
  overflow: hidden;
  height: var(--box);
  width: var(--box);
  cursor: pointer;
  z-index: 200;
  transition: var(--transition);
}

.nav__user-image:hover {
  border: 2px solid var(--color-white);
  box-shadow: 0px 0px 59px 10px rgba(var(--color-primary-rgb), 0.75);
}

.nav__user-imageActive {
  box-shadow: 0px 0px 59px 10px rgba(var(--color-secondary-rgb), 0.75);
  border: 2px solid var(--color-white);
  animation-name: nav__user-imageActive;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes nav__user-imageActive {
  50% {
    box-shadow: 0px 0px 59px 10px rgba(var(--color-white-rgb), 0.75);
  }
}

.nav__user-menu {
  position: fixed;
  bottom: 12rem;
  left: auto;
  padding: 2rem;
}

.nav__user-menu > button {
  width: 100%;
}

.nav__logo {
  --box: 2.75rem;
  display: flex;
  height: var(--box);
  width: var(--box);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  color: var(--color-primary);
  transition: var(--transition);
}

.nav__logo > svg {
  filter: drop-shadow(0px 0px 3px rgb(var(--color-secondary-rgb)));
  transition: var(--transition);
}

.nav__logo > svg :hover {
  filter: drop-shadow(0px 0px 3px rgb(var(--color-white-rgb)));
}

@media (max-width: 1024px) {
  .nav__user-image {
    bottom: 7.5rem;
  }
  .nav__user-menu{
    bottom: 7rem;
  }
}