

.productDetail__box {
  border: solid rgba(var(--color-primary-rgb), 0.3);
  background-color: rgba(var(--color-primary-rgb), 0.1);
  margin: 1.5rem 0.75rem;
  padding: 1rem 1rem;
  border-bottom-right-radius: 5rem;
  border-top-left-radius: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.star{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}
.productDetail__img-place {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.productDetail_image { 
  height: 300px;
  width: 400px;
  
}
.productDetail_img{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.productDetail__img-arrowBack {
  align-self: flex-end;
}

.productDetail__img-arrowNext {
  align-self: flex-start;
}

.productDetail__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  height: 100%;
}

.productDetail__img-arrow {
  padding: 0.5rem 0.75rem;
}

.productDetail__info {
  border: solid rgba(var(--color-primary-rgb), 0.3);
  background-color: rgba(var(--color-primary-rgb), 0.1);
  margin: 1.5rem 0.75rem;
  padding: 1rem 1rem;
  border-bottom-right-radius: 5rem;
  border-top-left-radius: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.productDetail__info > h3 {
  line-height: 2.5rem;
}

.productDetail__info > button {
  margin: 1rem;
}

.productDetail__box > h1 {
  border-top: 2px solid var(--color-secondary);
  border-left: 2px solid var(--color-secondary);
  border-top-left-radius: 2rem;
  line-height: 5rem;
  margin: 0;
}

.productDetails__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
}

.productDetail__comment{
  border: solid rgba(var(--color-primary-rgb), 0.3);
  background-color: rgba(var(--color-primary-rgb), 0.1);
  margin: 1.5rem 0.75rem;
  padding: 1rem 1rem;
  border-bottom-right-radius: 2rem;
  border-top-left-radius: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: hidden;
}



.productDetail__comment-picture{
  width:3rem;
  display: inline-flex;
  position: relative;

}

.productDetail__comment-containerProfile{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}



.productDetail__comment-name{
  display: flex;
  position: relative;
  margin: 0.2rem 0.5rem;
}

.productDetail__comment-ratingText{
  margin: 0.2rem 0.5rem;
  display: flex;
  position: relative;
}

.productDetail__comment-ratingStar{
  margin: 0.2rem 0.5rem;
  display: flex;
  flex-direction: row;
  position: relative;
}

.productDetail__comment-section{
  display: flex;
  flex-direction: column;
  border-left: 2px solid var(--color-primary);
  
  text-align: center;
}

.productDetail__comment-value{
  
  padding: 1rem;
  text-align: center;
}
/* .div_full{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: hidden;
} */
.fillStar{
  color: var(--color-primary)
}

.container__productDetail-box{
  display: flex;
  flex-direction: row;
}

.rating {
  display: flex;
  padding: 0;
  margin: 0;
  }
  
.rating li {
list-style-type: none
}

.rating-item {
cursor: pointer;
font-size:1.44em;
color: var(--color-primary);
}
.coment_user{
  margin: 1.5rem 0.75rem;
  padding: 1rem 1rem;
}

/* initial: make all stars full */
.rating-item::before {
content: "\2605";
}

/* make until the clicked star (the rest) empty */
.rating-item.active ~ .rating-item::before {
content: "\2606";
}

/* on hover make all full */
.rating:hover .rating-item::before {
content: "\2605";
}

/* make until the hovered (the rest) empty */
.rating-item:hover ~ .rating-item::before {
content: "\2606";
}

textarea {
  font-size:20px;
  width:100%;
  height: -webkit-fill-available;
  border-radius: 1rem;
  background-color: rgba(var(--color-primary-rgb), 0.3);
  margin: 1rem;
  
}

@media (max-width: 575px) {
  .productDetail__comment{
    flex-direction: column;
  }
  .productDetail__comment-section{    
    border-top: 2px solid var(--color-primary);
    border-left: none;
    
  }
}
