.card {
  justify-content: space-between;
  align-items: center;
  height: 20rem;
  width: 15rem;
  padding-bottom: .5rem;
  margin: 1rem;
  text-align: center;
}

.card__imageViewer {
    display: flex;
    max-height: 11.15rem;
    width: 100%;
}

.card__imageViewer > img {
    object-fit: cover;
}

.card__imageViewer-controller{
    display: flex;
}

.card__imageViewer-controller > button{
    width: 100%;
}