.nav__container {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: -5rem;
  width: 100%;
}

.nav {
  --radius: 1.5rem;
  position: relative;
  bottom: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem 1rem;
  background: linear-gradient(
    0deg,
    rgba(var(--color-secondary-rgb), 0.5) 0%,
    rgba(var(--color-black-rgb), 0.5) 100%
  );
  border-bottom: var(--border);
  border-left: var(--border);
  border-right: var(--border);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  box-shadow: 0px 0px 59px 10px rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
}

.nav__logo {
  height: 100px;
  width: 100px;
}

.nav__button {
  background: transparent;
  padding: 0.25rem 0.75rem;
  color: var(--color-primary);
  transition: var(--transition);
  cursor: pointer;
}

.nav__button > svg {
  filter: drop-shadow(0px 0px 15px rgb(var(--color-black-rgb)));
  transition: var(--transition);
}

.nav__button:hover {
  color: var(--color-white);
}

.nav__button:hover > svg {
  filter: drop-shadow(0px 0px 15px rgb(var(--color-primary-rgb)));
}

.nav__middleSpace {
  display: flex;
  width: 5rem;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.nav__cart-counter {
  --box: .75rem;
  font-size: var(--box);
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  width: var(--box);
  height: var(--box);
  padding: .65rem;
  z-index: 10;
  left: 5.25rem;
  bottom: .7rem;
  background-color: rgba(var(--color-secondary-rgb),.75);
  border: 1px solid var(--color-primary);
  border-radius: 9999px;
  animation-name: nav__cart-counter;
  animation-duration: .5s;
  animation-iteration-count: 1;
}

@keyframes nav__cart-counter {
  0%{
    background-color: var(--color-primary);
    box-shadow: 0px 0px 10px 10px rgba(var(--color-white-rgb), 0.75);
  }
  
}

.nav__active > svg {
  color: var(--color-secondary);
  filter: drop-shadow(0px 0px 15px rgb(var(--color-black-rgb)));
  animation-name: nav__button-active;
  animation-duration: var(--duration);
  animation-iteration-count: infinite;

}

@keyframes nav__button-active {
  50% {
    filter: drop-shadow(0px 0px 15px rgb(var(--color-white-rgb)));
    color: var(--color-white);
  }
}

@media (max-width: 580px) {
  .nav {
    bottom: 7rem;
  }
}