.seeProduct__container{
    display:flex;
              
}  
.title{
    display: flexbox;
    margin: 10px 30px; 
    text-align: center;   
}
.Card-Product{  
     .swiper-slide{
   left: 1%;
    overflow: hidden;
    position: relative;
   }
   

}
 