.title {
  display: flexbox;
  margin: 10px 30px;
  text-align: center;
}

.seeProduct__title {
  color: var(--color-primary);
  cursor: pointer;
  transition: var(--transition);
}

.seeProduct__title:hover {
    color: var(--color-white);
    text-shadow: 0 0 10px var(--color-primary);
}

.seeProduct__carousel{
  display: flex;
  height: 22rem;
  width: 100%;
}